{
    "valid": {
        "default": <%=generateAttributeJSON(requiredAttributes)%>,
        "create": <%=generateAttributeJSON(requiredAttributes)%>,
        "update": <%=generateAttributeJSON(requiredAttributes)%>
    },
    "invalid": <%=generateInvalidData(requiredAttributes)%>
}